---
// src/pages/index.astro

import Layout from '../layouts/Layout.astro';
import HeroProfile from '../components/HeroProfile.astro';
import AboutSection from '../components/react/AboutSection';
import BentoGallery from '../components/react/BentoGallery';
import Discography from '../components/react/Discography';
import Footer from '../components/Footer.astro';
import VaultGate from '../components/react/VaultGate';

import { getJihyoProfile } from '../lib/twiceApi';
import { supabase } from '../lib/supabase';

const jihyoProfile = await getJihyoProfile();
const { data: albums } = await supabase
  .from('jihyo_discography')
  .select('*')
  .order('release_date', { ascending: false });

const { data: dbImages } = await supabase
  .from('jihyo_gallery')	
  .select('url, caption')
  .eq('is_premium', false);

const { data: dbFact } = await supabase
  .from('jihyo_fact')	
  .select('fact');

const randomFact = dbFact && dbFact.length > 0 
  ? dbFact[Math.floor(Math.random() * dbFact.length)].fact 
  : "No facts found";

// 3. Merge images from database
const galleryImages = dbImages?.map(img => img.url) || [];
const caption = dbImages?.map(img => img.caption) || [];
---

<Layout title="Our Queen">
	<main class="relative">
		<div id="home">
			<HeroProfile />
		</div>

		<div id="persona">
			<AboutSection 
				client:load 
				jihyoProfile={jihyoProfile}
				fact={randomFact}
			/>
		</div>

		<div id="gallery">
			<BentoGallery images={galleryImages} caption={caption} client:visible/>
		</div>

		<div id="discography">
			{albums && (
			<Discography 
				client:idle 
				albums={albums}
			/>
			)}
		</div>

		<div id="vault-trigger" class="h-20" />
		<VaultGate client:load />

		<Footer />
	</main>
</Layout>
